.searcher {
  /* 1. Positioning */
  display: flex;
  align-items: center;
  position: relative;

  /* 2. Box model */
  width: 100%;
}

.searcher__input {
  /* 2. Box model */
  padding: var(--space-8);
  width: 100%;
  max-width: var(--space-416);

  /* 3. Typography */
  font-size: 1.6rem;
  text-transform: uppercase;

  /* 4. Visuals */
  border: 1px solid var(--gray);
  border-radius: 4px;
  transition: border 0.2s ease;
}

.searcher__input:focus {
  /* 5. Others */
  outline: none;
}

.searcher__suggestions_list {
  /* 1. Positioning */
  position: absolute;
  top: 100%;
  z-index: 10;

  /* 2. Box model */
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: var(--space-416);

  /* 4. Visuals */
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  /* 5. Others */
  list-style-type: none;
}

.searcher__suggestions_item {
  /* 2. Box model */
  padding: var(--space-8);

  /* 4. Visuals */
  border-bottom: 1px solid var(--white-dark);
  transition: background-color 0.3s ease;
}

.searcher__suggestions_item:last-child {
  /* 4. Visuals */
  border-bottom: none;
}

.searcher__suggestions_item:hover {
  /* 4. Visuals */
  background-color: var(--white-dark);
}

.searcher__suggestions_text {
  /* 3. Typography */
  text-transform: uppercase;
}